@{
    ViewBag.Title = "Оповещения";
}
<div class="panel">
    <div class="panel-header gradient_header">
        <h4 class="fg-white">
            <i class="icon-comments-4"></i>
            Оповещения
        </h4>
    </div>
    <div class="panel-content bg-white">
        <div class="listview-outlook">
            @{
                var t = (List<TalismanSqlForum.Models.Notification.tNotification>)ViewData["notif"];
                foreach (var item in t)
                {
                    var href = "";
                    if (item.tNotification_href != null && item.tNotification_href != "")
                    {
                        href = item.tNotification_href;
                    }
                    else
                    {
                        href = Url.Action("New", "Notifications");
                    }
                    <a href="@href" class="list">
                        <div class="list-content">
                            <div class="tile half bg-white">
                                <div class="tile-content icon">
                                    @switch (item.tNotificationType.Id)
                                    {
                                        case 1:
                                            <i class="icon-user fg-gray"></i>
                                            break;
                                        default:
                                        <i class="icon-mail fg-gray"></i>
                                            break;
                                    }

                                </div>
                            </div>
                            <h5 style="margin-bottom:0; margin-top:0;">@item.tNotification_message</h5>
                            <small>@item.tNotification_date</small>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</div>

