@{
    ViewBag.Title = "Правила пользования форумом";
}
<div class="panel">
    <div class="panel-header">
        Правила форума
    </div>
    <div class="panel-content bg-white">
        <ul class="list">
            На форуме действуют определенные правила, поэтому, будьте внимательны и соблюдайте их.
            <li> Администрация форума оставляет за собой право периодически вносить поправки и (или) изменения в правила. Новые решения и требования вступают в силу с момента опубликования.</li>
            <li>
                Администрация форума может принимать решения расходящиеся с Правилами.
            </li>
            <li>Все сообщения от пользователей являются мнением их авторов, за которое администрация форума ответственности не несёт.</li>
            <li>Сообщения непристойного или оскорбительного содержания будут удаляться.</li>
            <li>
                Запрещается передавать персональные данные своего аккаунта (логин, пароль) другим пользователям форума.
            </li>
            <li>
                Тема для обсуждения является собственностью форума, а не участником который ее создал. Поэтому темы могут переименоваться, переноситься, корректироваться, удаляться администрацией форума на свое усмотрение.
            </li>
            <li>
                Прежде чем создать новую тему, убедитесь, что такой вопрос еще не был задан. В противном случае тема может быть удалена, а вопрос перенаправлен в уже обсуждаемую тему.
            </li>
            <li>
                Запрещается создавать новые темы с малосодержательным названием, например:
                <ul>
                    <li>
                        «Помогите!!!»;
                    <li>«Есть пара вопросов»;
                </ul>
                и т.п. Если такая тема имеет важное содрежание она может быть переименована. Если тема малосодержательна, она будет удалена.
            </li>
            <li>
                Запрещается создавать темы в форумах, не подходящих по тематике. Например, задавать вопросы по кадрам в форуме по заработной плате. Такие темы будут переноситься в соответсвующий раздел форума.
            </li>
            <li>
                Запрещается создавать одинаковые темы сразу в нескольких форумах одновременно.
            </li>
            <li>
                Просьба НЕ ПИСАТЬ ЗАГЛАВНЫМИ БУКВАМИ и не злоупотреблять восклицательными, вопросительными и другими знаками.
            </li>
            <li>
                Запрещается помещение сообщений, содержащих пpизывы к наpyшению действyющего законодательства.
            </li>
            <li>
                Запрещается помещение сообщений, содержащих рекламное содержание.
            </li>
            <li> Администрация форума не несет ответственности за авторские права на материалы, размещенные на форуме пользователями.</li>
        </ul>
    </div>
</div>


