@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li style="border-bottom : 1px transparent solid;">
            <a href="javascript:document.getElementById('logoutForm').submit()" class="gradient_header" style="border-radius: 7px;margin-bottom: 3px;">
                <i class="icon-exit"></i>
                Выйти
            </a>
        </li>        
    }
    if (User.IsInRole("admin"))
    {
        <li style="border-bottom : 1px transparent solid;">
            <a href="@Url.Action("Index","Admin")" class="gradient_header" style="border-radius: 7px;margin-bottom: 3px;">
                <i class="icon-wrench"></i>
            </a>
        </li>
    }
}
else
{
    <li style="border-bottom : 1px transparent solid;">
        <a href="@Url.Action("Register","Account")" id="registerLink" class="gradient_header" style="border-radius: 7px;margin-bottom: 3px;">
            <i class="icon-accessibility"></i>
            Регистрация
        </a>
    </li>
    <li style="border-bottom : 1px transparent solid;">
        <a href="@Url.Action("Login", "Account", new { returnurl = ViewBag.ReturnUrl })" id="loginLink" class="gradient_header" style="border-radius: 7px;margin-bottom: 3px;">
            <i class="icon-enter"></i>
            Вход
        </a>
    </li>
}
