@{
    ViewBag.Title = "Список форумов";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}
@{
    var t = (IEnumerable<TalismanSqlForum.Models.Forum.tForumList>)ViewData["tForumList"];
    <table class="table striped bordered hovered">
        <thead>
            <tr>
                <th class="text-left">Действия</th>
                <th class="text-left">Название</th>
                <th class="text-left">Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in t)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Edit","AdminForum")" class="icon-pencil"></a>
                        <a href="@Url.Action("Hide","AdminForum")" class="icon-blocked"></a>
                    </td>
                    <td>@item.tForumList_name</td>
                    <td>@item.tForumList_description</td>
                </tr>
            }            
        </tbody>
    </table>
}


