<div class="panel">
    <div class="panel-header gradient_header">
        <h4 class="fg-white">Примечание</h4>
    </div>
    <div class="panel-content bg-white" style="padding:10px;">
        <i class="icon-user fg-darkRed"></i> Администратор
        <i class="icon-user fg-darkGreen"></i> Консультант
        <i class="icon-user fg-gray"></i> Пользователь
    </div>
</div>